<!doctype html>
<html>
    <head>
        <title>Contact Form sending e-mail through AWS Simple Email Service experiment</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>

    <body>
        <div class="container" ng-app="sesApp">
            <div class="row" ng-controller="sesCtrl">
                <div class="col-sm-8 col-sm-offset-2" style="margin-top: 25%">
                    <form style="margin-bottom: 25px">
                        <div class="form-group">
                            <label for="nameInput">Name</label>
                            <input type="text" class="form-control" id="nameInput" placeholder="Name" ng-model="form.name">
                        </div>

                        <div class="form-group">
                            <label for="emailInput">Email</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="form.email">
                        </div>

                        <div class="form-group">
                            <label for="subjectInput">Subject</label>
                            <input type="text" class="form-control" id="subjectInput" placeholder="Subject" ng-model="form.subject">
                        </div>

                        <div class="form-group">
                            <label for="messageInput">Message</label>
                            <textarea id="messageInput" class="form-control" rows="3" cols="10" ng-model"form.message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default" ng-click="submitForm()">Submit</button>
                    </form>

                    <div class="alert alert-success" role="alert" ng-show="toggles.success">
                        Form submitted.
                    </div>

                    <div class="alert alert-danger" role="alert" ng-show="toggles.error">
                        Something went wrong while submitting the form.
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>